*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, purple, blue 150%);
}
h1{
    color: white;
    text-align: center;
    margin: 40px;
}
.inserir{
    width: 234.8px;
    height: 28px;
    display: flex;
    margin: auto;
    padding-bottom: 40px;
}
.ress{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: larger;
}
.res1{padding: 0px 10px;

}
